.LandingPageContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.quizButton {
    padding: 4px;
    border-radius: 6px;
    border: solid 1px #63B766;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quizButton:hover{
    cursor: pointer;
    color: #63B766;
}

.GameDropdown {
    margin-bottom: 5%;
}

img {
    height: 400px;
    width: auto;
}


